.flows.json.backup
[
    {
        "id": "ee9757178de2cc83",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d216a58cd19278d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f563bc474c51a0d2",
        "type": "tab",
        "label": "Facial With Led",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "752f0bc11d111e10",
        "type": "tab",
        "label": "Facial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5043c7920a794772",
        "type": "tab",
        "label": "Mental Commands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f513e8b74af283e0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1fe27bb3f369924",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "308f09ba75c30f2f",
        "type": "ui_tab",
        "name": "Brainter",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8b6ae23c272c8d51",
        "type": "ui_group",
        "name": "Brainter",
        "tab": "308f09ba75c30f2f",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fea83661.1ab498",
        "type": "ui_group",
        "name": "Testing",
        "tab": "d7908651.24f9b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7908651.24f9b8",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3085cb252d0df0c1",
        "type": "openaiApiKey",
        "name": "Personal"
    },
    {
        "id": "2052509108456867",
        "type": "ui_group",
        "name": "OpenAI Text completion",
        "tab": "308f09ba75c30f2f",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1f542807e71d6ca",
        "type": "function",
        "z": "ee9757178de2cc83",
        "name": "Trigger Image Generation",
        "func": "// Retrieve the 'imageGenerated' flag from the context, defaulting to false if not set\nlet imageGenerated = context.get('imageGenerated') || false;\n\n// Check if an image has already been generated\nif (imageGenerated) {\n    // If an image was already generated, do nothing and return null to stop the flow\n    return null;\n}\n\n// Check the payload for a command and return an appropriate image generation payload\nif (msg.payload === 'Right') {\n    // Set the 'imageGenerated' flag to true to prevent further triggers\n    context.set('imageGenerated', true);\n    return { payload: 'generate me an image of a cat' };\n} else if (msg.payload === 'Left') {\n    // Set the 'imageGenerated' flag to true to prevent further triggers\n    context.set('imageGenerated', true);\n    return { payload: 'generate me an abstract image of the color red' };\n} else {\n    // If the payload is neither 'Right' nor 'Left', do nothing and return null\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fd3586c96f2c26c2",
        "type": "EMOTIV",
        "z": "ee9757178de2cc83",
        "name": "EMOTIV",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "2e48835dac3ff48f"
            ]
        ]
    },
    {
        "id": "2e48835dac3ff48f",
        "type": "Profile-Name",
        "z": "ee9757178de2cc83",
        "name": "Profile Name",
        "profileName": "Charbel",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "919dfb9ef8244c15",
                "c2fe43f5a6814f55"
            ]
        ]
    },
    {
        "id": "de45441b395d991d",
        "type": "function",
        "z": "ee9757178de2cc83",
        "name": "function 3",
        "func": "// Define the threshold\nconst threshold = 30;\n\n// Retrieve the 'commandTriggered' flag from the context, defaulting to false if not set\nlet commandTriggered = context.get('commandTriggered') || false;\n\n// Check if a command has already been triggered\nif (commandTriggered) {\n  // If a command was already triggered, do nothing and return null to stop the flow\n  return null;\n}\n\n// Check which command is received and if it passes the threshold\nif (msg.topic === \"Mental Commands: left\" && msg.payload >= threshold) {\n  msg.payload = \"Left\";\n  // Set the 'commandTriggered' flag to true to prevent further triggers\n  context.set('commandTriggered', true);\n} else if (msg.topic === \"Mental Commands: right\" && msg.payload >= threshold) {\n  msg.payload = \"Right\";\n  // Set the 'commandTriggered' flag to true to prevent further triggers\n  context.set('commandTriggered', true);\n} else {\n  // If neither command passes the threshold, do nothing and return null\n  return null;\n}\n\n// Return the message object to continue the flow\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 360,
        "wires": [
            [
                "f1f542807e71d6ca",
                "3a6c31c21d3e97b5"
            ]
        ]
    },
    {
        "id": "919dfb9ef8244c15",
        "type": "Mental-Command",
        "z": "ee9757178de2cc83",
        "name": "Mental Commands",
        "actionName": "left",
        "mcSen": 10,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "de45441b395d991d"
            ]
        ]
    },
    {
        "id": "c2fe43f5a6814f55",
        "type": "Mental-Command",
        "z": "ee9757178de2cc83",
        "name": "Mental Commands",
        "actionName": "right",
        "mcSen": 10,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "de45441b395d991d"
            ]
        ]
    },
    {
        "id": "c99ee12a6cc850f0",
        "type": "file",
        "z": "ee9757178de2cc83",
        "name": "Brainter",
        "filename": "C:\\Users\\charb\\Documents\\GitHub\\Brainter\\Mental Command\\mentalcommand.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1240,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3a6c31c21d3e97b5",
        "type": "debug",
        "z": "ee9757178de2cc83",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd79e0a61547ef5e",
        "type": "inject",
        "z": "ee9757178de2cc83",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "left",
        "payloadType": "str",
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "c99ee12a6cc850f0"
            ]
        ]
    },
    {
        "id": "096e28471868594b",
        "type": "ui_led",
        "z": "1d216a58cd19278d",
        "order": 2,
        "group": "fea83661.1ab498",
        "width": 0,
        "height": 0,
        "label": "Command Detected",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Left",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Right",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "eb797dca93c9037b",
        "type": "EMOTIV",
        "z": "1d216a58cd19278d",
        "name": "EMOTIV",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "84cdc8b1572442b5"
            ]
        ]
    },
    {
        "id": "84cdc8b1572442b5",
        "type": "Profile-Name",
        "z": "1d216a58cd19278d",
        "name": "Profile Name",
        "profileName": "Charbel",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "b2316188d2a137d7",
                "73cf004a746b63ca"
            ]
        ]
    },
    {
        "id": "6f3bbb8a41e0e64d",
        "type": "function",
        "z": "1d216a58cd19278d",
        "name": "function 4",
        "func": "// Define the threshold\nconst threshold = 60;\n\n// Check which command is received and if it passes the threshold, then output a string\nif (msg.topic === \"Mental Commands: left\" && msg.payload >= threshold) {\n  msg.payload = \"Left\";\n} else if (msg.topic === \"Mental Commands: right\" && msg.payload >= threshold) {\n  msg.payload = \"Right\";\n} else {\n  // If neither command passes the threshold, you can choose to output nothing\n  // or output a message indicating that the threshold was not passed.\n  // Uncomment the following line if you want to send a message in this case:\n  // msg.payload = \"No command passed the threshold.\";\n  return null; // This stops the flow and does not output a message.\n}\n\n// Return the message object\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 180,
        "wires": [
            [
                "096e28471868594b",
                "68fa91562675fb1a"
            ]
        ]
    },
    {
        "id": "b2316188d2a137d7",
        "type": "Mental-Command",
        "z": "1d216a58cd19278d",
        "name": "Mental Commands",
        "actionName": "left",
        "mcSen": 10,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "6f3bbb8a41e0e64d"
            ]
        ]
    },
    {
        "id": "73cf004a746b63ca",
        "type": "Mental-Command",
        "z": "1d216a58cd19278d",
        "name": "Mental Commands",
        "actionName": "right",
        "mcSen": 10,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "6f3bbb8a41e0e64d"
            ]
        ]
    },
    {
        "id": "68fa91562675fb1a",
        "type": "function",
        "z": "1d216a58cd19278d",
        "name": "function 5",
        "func": "   if (msg.payload === 'Left') {\n        return { payload: ' Draw me an image of a' + msg.payload + ' make it abstract using the following colors' };\n    } else if (msg.payload === 'Right') {\n        return { payload: msg.payload + ' charbel' };\n    } else {\n        return null;\n    }\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8ee1f454053624cc",
        "type": "ui_led",
        "z": "f563bc474c51a0d2",
        "order": 2,
        "group": "fea83661.1ab498",
        "width": 0,
        "height": 0,
        "label": "Smile Detected",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Smile",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "90e3e63d7b1b9854",
        "type": "Facial-Expression",
        "z": "f563bc474c51a0d2",
        "name": "Facial Expressions",
        "action": "smile",
        "sens": "100",
        "x": 670,
        "y": 120,
        "wires": [
            [
                "6e57b26133eb6e14",
                "67cd450fc91bd7ed"
            ]
        ]
    },
    {
        "id": "6e57b26133eb6e14",
        "type": "switch",
        "z": "f563bc474c51a0d2",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "50444ec2d9b8e1c4",
        "type": "EMOTIV",
        "z": "f563bc474c51a0d2",
        "name": "EMOTIV",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "d976baf42633d0c5"
            ]
        ]
    },
    {
        "id": "d976baf42633d0c5",
        "type": "Profile-Name",
        "z": "f563bc474c51a0d2",
        "name": "Profile Name",
        "profileName": "Charbel",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "90e3e63d7b1b9854"
            ]
        ]
    },
    {
        "id": "67cd450fc91bd7ed",
        "type": "function",
        "z": "f563bc474c51a0d2",
        "name": "function 6",
        "func": "if ( msg.payload >= 90) {\n  msg.payload = \"Smile\";\n}\nreturn msg\n// Return the message object",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 180,
        "wires": [
            [
                "8ee1f454053624cc"
            ]
        ]
    },
    {
        "id": "4ff2292be0cb031e",
        "type": "Facial-Expression",
        "z": "752f0bc11d111e10",
        "name": "Facial Expressions",
        "action": "smile",
        "sens": "100",
        "x": 590,
        "y": 420,
        "wires": [
            [
                "95224b17490fc385"
            ]
        ]
    },
    {
        "id": "95224b17490fc385",
        "type": "switch",
        "z": "752f0bc11d111e10",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a2ea54378ddeca48",
        "type": "EMOTIV",
        "z": "752f0bc11d111e10",
        "name": "EMOTIV",
        "x": 60,
        "y": 420,
        "wires": [
            [
                "71d08c70930ab861"
            ]
        ]
    },
    {
        "id": "71d08c70930ab861",
        "type": "Profile-Name",
        "z": "752f0bc11d111e10",
        "name": "Profile Name",
        "profileName": "Charbel",
        "x": 300,
        "y": 420,
        "wires": [
            [
                "4ff2292be0cb031e"
            ]
        ]
    },
    {
        "id": "337378d7.7c7328",
        "type": "EMOTIV",
        "z": "5043c7920a794772",
        "name": "EMOTIV",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "13b9e855.55e2b8"
            ]
        ]
    },
    {
        "id": "13b9e855.55e2b8",
        "type": "Profile-Name",
        "z": "5043c7920a794772",
        "name": "Profile Name",
        "profileName": "Charbel",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "3de480bf.41b19",
                "98aa2d1e.0320c"
            ]
        ]
    },
    {
        "id": "3de480bf.41b19",
        "type": "Mental-Command",
        "z": "5043c7920a794772",
        "name": "Mental Commands",
        "actionName": "left",
        "mcSen": "10",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "29334321.88b60c"
            ]
        ]
    },
    {
        "id": "98aa2d1e.0320c",
        "type": "Mental-Command",
        "z": "5043c7920a794772",
        "name": "Mental Commands",
        "actionName": "right",
        "mcSen": "10",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "7c2aa7c.b960158"
            ]
        ]
    },
    {
        "id": "338358d05c8c7ea7",
        "type": "debug",
        "z": "5043c7920a794772",
        "name": "Left",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "7c2aa7c.b960158",
        "type": "switch",
        "z": "5043c7920a794772",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "8d840c5d93077962"
            ]
        ]
    },
    {
        "id": "8d840c5d93077962",
        "type": "debug",
        "z": "5043c7920a794772",
        "name": "Right",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "29334321.88b60c",
        "type": "switch",
        "z": "5043c7920a794772",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "338358d05c8c7ea7"
            ]
        ]
    },
    {
        "id": "b2a1d6df686b97ee",
        "type": "function",
        "z": "f513e8b74af283e0",
        "name": "function 1",
        "func": "msg.url = \"https://api.openai.com/v1/images/generations\";\nmsg.method = \"POST\";\nvar prompt = msg.payload;\nvar n = 1;\nvar size = \"512x512\";\n\nmsg.payload = {\n    \"prompt\": prompt,\n    \"n\": n,\n    \"size\": size,\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "f67eba5b1481f856"
            ]
        ]
    },
    {
        "id": "60722579ebd8742c",
        "type": "ui_text_input",
        "z": "f513e8b74af283e0",
        "name": "Prompt",
        "label": "Example: \"An impressionist oil painting of sunflowers in a purple vase\"",
        "tooltip": "Enter a prompt!",
        "group": "8b6ae23c272c8d51",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "554681c1a56720f1"
            ]
        ]
    },
    {
        "id": "fd05fc0c96ca0d89",
        "type": "ui_button",
        "z": "f513e8b74af283e0",
        "name": "",
        "group": "8b6ae23c272c8d51",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Generate",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "prompt",
        "payloadType": "flow",
        "topic": "",
        "topicType": "str",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "b2a1d6df686b97ee"
            ]
        ]
    },
    {
        "id": "554681c1a56720f1",
        "type": "change",
        "z": "f513e8b74af283e0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prompt",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "fd05fc0c96ca0d89"
            ]
        ]
    },
    {
        "id": "289be044a17f4ebc",
        "type": "ui_template",
        "z": "f513e8b74af283e0",
        "group": "8b6ae23c272c8d51",
        "name": "",
        "order": 3,
        "width": "20",
        "height": "12",
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    \n    <img src=\"{{msg.payload.data[0].url}}\">\n\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f67eba5b1481f856",
        "type": "http request",
        "z": "f513e8b74af283e0",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 400,
        "wires": [
            [
                "289be044a17f4ebc",
                "336518bb02a0d744",
                "a873042b992af2d5",
                "4edf8d39dc37b1fb"
            ]
        ]
    },
    {
        "id": "5303a377d15f2a38",
        "type": "inject",
        "z": "f513e8b74af283e0",
        "name": "Initial Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "289be044a17f4ebc"
            ]
        ]
    },
    {
        "id": "037f21b70d24ef61",
        "type": "inject",
        "z": "f513e8b74af283e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "60722579ebd8742c"
            ]
        ]
    },
    {
        "id": "336518bb02a0d744",
        "type": "change",
        "z": "f513e8b74af283e0",
        "name": "Reset Prompt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "60722579ebd8742c"
            ]
        ]
    },
    {
        "id": "ea08acbe1b9e449a",
        "type": "comment",
        "z": "f513e8b74af283e0",
        "name": "Image Generation",
        "info": "",
        "x": 150,
        "y": 280,
        "wires": []
    },
    {
        "id": "9bbc826b0d2a064a",
        "type": "file",
        "z": "f513e8b74af283e0",
        "name": "Brainter",
        "filename": "C:\\Users\\charb\\Documents\\GitHub\\Brainter\\G-Code Generator\\Assets\\Images\\brainter.jpg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1440,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a873042b992af2d5",
        "type": "function",
        "z": "f513e8b74af283e0",
        "name": "function 7",
        "func": "// Check if the data array exists and has at least one element\nif (msg.payload.data && msg.payload.data.length > 0) {\n    // Extract the image URL\n    var imageUrl = msg.payload.data[0].url;\n    // Prepare the next HTTP request\n    msg.url = imageUrl;\n    // Set the headers if necessary, e.g., for bearer authentication\n    msg.headers = {\n        'Authorization': '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'\n    };\n    return msg;\n} else {\n    // If the data array is not present or empty, log an error\n    node.error(\"No image URL found in payload\", msg);\n    return null; // Stop the flow as we don't have a valid URL to process\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 460,
        "wires": [
            [
                "98d175044757cf81",
                "628645b322745568"
            ]
        ]
    },
    {
        "id": "98d175044757cf81",
        "type": "http request",
        "z": "f513e8b74af283e0",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 1210,
        "y": 520,
        "wires": [
            [
                "9bbc826b0d2a064a",
                "25701f59d2639f29"
            ]
        ]
    },
    {
        "id": "4edf8d39dc37b1fb",
        "type": "debug",
        "z": "f513e8b74af283e0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 720,
        "wires": []
    },
    {
        "id": "628645b322745568",
        "type": "debug",
        "z": "f513e8b74af283e0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 420,
        "wires": []
    },
    {
        "id": "25701f59d2639f29",
        "type": "debug",
        "z": "f513e8b74af283e0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 620,
        "wires": []
    }
]