.flows.json.backup
[
    {
        "id": "ee9757178de2cc83",
        "type": "tab",
        "label": "Mental Commands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f563bc474c51a0d2",
        "type": "tab",
        "label": "Facial With Led",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5043c7920a794772",
        "type": "tab",
        "label": "Mental Commands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1fe27bb3f369924",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "308f09ba75c30f2f",
        "type": "ui_tab",
        "name": "Brainter",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8b6ae23c272c8d51",
        "type": "ui_group",
        "name": "Brainter",
        "tab": "308f09ba75c30f2f",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fea83661.1ab498",
        "type": "ui_group",
        "name": "Testing",
        "tab": "d7908651.24f9b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7908651.24f9b8",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3085cb252d0df0c1",
        "type": "openaiApiKey",
        "name": "Personal"
    },
    {
        "id": "2052509108456867",
        "type": "ui_group",
        "name": "OpenAI Text completion",
        "tab": "308f09ba75c30f2f",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1f542807e71d6ca",
        "type": "function",
        "z": "ee9757178de2cc83",
        "name": "Trigger Image Generation",
        "func": "// Retrieve the 'imageGenerated' flag from the context, defaulting to false if not set\nlet imageGenerated = context.get('imageGenerated') || false;\n\n// Check if an image has already been generated\nif (imageGenerated) {\n    // If an image was already generated, do nothing and return null to stop the flow\n    return null;\n}\n\n// Check the payload for a command and return an appropriate image generation payload\nif (msg.payload === 'Right') {\n    // Set the 'imageGenerated' flag to true to prevent further triggers\n    context.set('imageGenerated', true);\n    return { payload: 'generate me an image of a cat' };\n} else if (msg.payload === 'Left') {\n    // Set the 'imageGenerated' flag to true to prevent further triggers\n    context.set('imageGenerated', true);\n    return { payload: 'generate me an abstract image of the color red' };\n} else {\n    // If the payload is neither 'Right' nor 'Left', do nothing and return null\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 340,
        "wires": [
            [
                "c99ee12a6cc850f0"
            ]
        ]
    },
    {
        "id": "fd3586c96f2c26c2",
        "type": "EMOTIV",
        "z": "ee9757178de2cc83",
        "name": "EMOTIV",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "2e48835dac3ff48f"
            ]
        ]
    },
    {
        "id": "2e48835dac3ff48f",
        "type": "Profile-Name",
        "z": "ee9757178de2cc83",
        "name": "Profile Name",
        "profileName": "Charbel",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "919dfb9ef8244c15",
                "c2fe43f5a6814f55"
            ]
        ]
    },
    {
        "id": "de45441b395d991d",
        "type": "function",
        "z": "ee9757178de2cc83",
        "name": "function 3",
        "func": "\n\n// Retrieve the 'commandTriggered' flag from the context, defaulting to false if not set\nlet commandTriggered = context.get('commandTriggered') || false;\n\n// Check if a command has already been triggered\nif (commandTriggered) {\n  // If a command was already triggered, do nothing and return null to stop the flow\n  return null;\n}\n\n// Check which command is received and if it passes the threshold\nif (msg.payload === \"Left\") {\n  msg.payload = \"Left\";\n  // Set the 'commandTriggered' flag to true to prevent further triggers\n  context.set('commandTriggered', true);\n} else if (msg.payload === \"Right\" ) {\n  msg.payload = \"Right\";\n  // Set the 'commandTriggered' flag to true to prevent further triggers\n  context.set('commandTriggered', true);\n} else {\n  // If neither command passes the threshold, do nothing and return null\n  return null;\n}\n\n// Return the message object to continue the flow\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 340,
        "wires": [
            [
                "f1f542807e71d6ca",
                "3a6c31c21d3e97b5"
            ]
        ]
    },
    {
        "id": "919dfb9ef8244c15",
        "type": "Mental-Command",
        "z": "ee9757178de2cc83",
        "name": "Mental Commands",
        "actionName": "left",
        "mcSen": 10,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "8efe1e4d6744837e"
            ]
        ]
    },
    {
        "id": "c2fe43f5a6814f55",
        "type": "Mental-Command",
        "z": "ee9757178de2cc83",
        "name": "Mental Commands",
        "actionName": "right",
        "mcSen": 10,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "a63ffa71846c76f3"
            ]
        ]
    },
    {
        "id": "c99ee12a6cc850f0",
        "type": "file",
        "z": "ee9757178de2cc83",
        "name": "Brainter",
        "filename": "C:\\Users\\charb\\Documents\\GitHub\\Brainter\\Image Generator\\mentalcommand.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3a6c31c21d3e97b5",
        "type": "debug",
        "z": "ee9757178de2cc83",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 200,
        "wires": []
    },
    {
        "id": "8efe1e4d6744837e",
        "type": "switch",
        "z": "ee9757178de2cc83",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "bac8be6352a4ed2c"
            ]
        ]
    },
    {
        "id": "a63ffa71846c76f3",
        "type": "switch",
        "z": "ee9757178de2cc83",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "70",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "f962ac8fc85ee126",
                "17976bb15301df31"
            ]
        ]
    },
    {
        "id": "bac8be6352a4ed2c",
        "type": "function",
        "z": "ee9757178de2cc83",
        "name": "function 7",
        "func": "if (msg.payload > 90) {\n    msg.payload = \"Left\";\n    // Set the 'commandTriggered' flag to true to prevent further triggers\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "de45441b395d991d"
            ]
        ]
    },
    {
        "id": "f962ac8fc85ee126",
        "type": "function",
        "z": "ee9757178de2cc83",
        "name": "function 8",
        "func": "if (msg.payload > 70) {\n    msg.payload = \"Right\";\n    // Set the 'commandTriggered' flag to true to prevent further triggers\n\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 440,
        "wires": [
            [
                "de45441b395d991d"
            ]
        ]
    },
    {
        "id": "17976bb15301df31",
        "type": "debug",
        "z": "ee9757178de2cc83",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 600,
        "wires": []
    },
    {
        "id": "8ee1f454053624cc",
        "type": "ui_led",
        "z": "f563bc474c51a0d2",
        "order": 2,
        "group": "fea83661.1ab498",
        "width": 0,
        "height": 0,
        "label": "Smile Detected",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "Smile",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "90e3e63d7b1b9854",
        "type": "Facial-Expression",
        "z": "f563bc474c51a0d2",
        "name": "Facial Expressions",
        "action": "smile",
        "sens": "100",
        "x": 670,
        "y": 120,
        "wires": [
            [
                "6e57b26133eb6e14",
                "67cd450fc91bd7ed"
            ]
        ]
    },
    {
        "id": "6e57b26133eb6e14",
        "type": "switch",
        "z": "f563bc474c51a0d2",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "50444ec2d9b8e1c4",
        "type": "EMOTIV",
        "z": "f563bc474c51a0d2",
        "name": "EMOTIV",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "d976baf42633d0c5"
            ]
        ]
    },
    {
        "id": "d976baf42633d0c5",
        "type": "Profile-Name",
        "z": "f563bc474c51a0d2",
        "name": "Profile Name",
        "profileName": "Charbel",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "90e3e63d7b1b9854"
            ]
        ]
    },
    {
        "id": "67cd450fc91bd7ed",
        "type": "function",
        "z": "f563bc474c51a0d2",
        "name": "function 6",
        "func": "if ( msg.payload >= 90) {\n  msg.payload = \"Smile\";\n}\nreturn msg\n// Return the message object",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 180,
        "wires": [
            [
                "8ee1f454053624cc"
            ]
        ]
    },
    {
        "id": "337378d7.7c7328",
        "type": "EMOTIV",
        "z": "5043c7920a794772",
        "name": "EMOTIV",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "13b9e855.55e2b8"
            ]
        ]
    },
    {
        "id": "13b9e855.55e2b8",
        "type": "Profile-Name",
        "z": "5043c7920a794772",
        "name": "Profile Name",
        "profileName": "Charbel",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "3de480bf.41b19",
                "98aa2d1e.0320c"
            ]
        ]
    },
    {
        "id": "3de480bf.41b19",
        "type": "Mental-Command",
        "z": "5043c7920a794772",
        "name": "Mental Commands",
        "actionName": "left",
        "mcSen": "10",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "29334321.88b60c"
            ]
        ]
    },
    {
        "id": "98aa2d1e.0320c",
        "type": "Mental-Command",
        "z": "5043c7920a794772",
        "name": "Mental Commands",
        "actionName": "right",
        "mcSen": "10",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "7c2aa7c.b960158"
            ]
        ]
    },
    {
        "id": "338358d05c8c7ea7",
        "type": "debug",
        "z": "5043c7920a794772",
        "name": "Left",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "7c2aa7c.b960158",
        "type": "switch",
        "z": "5043c7920a794772",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "8d840c5d93077962"
            ]
        ]
    },
    {
        "id": "8d840c5d93077962",
        "type": "debug",
        "z": "5043c7920a794772",
        "name": "Right",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "29334321.88b60c",
        "type": "switch",
        "z": "5043c7920a794772",
        "name": "Threshold 50",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "338358d05c8c7ea7"
            ]
        ]
    }
]